altgraph==0.10.1
amqp==1.4.6
anyjson==0.3.3
APScheduler==2.1.2
backports.ssl-match-hostname==3.4.0.2
bdist-mpkg==0.4.4
BeautifulSoup==3.2.1
billiard==3.3.0.19
bonjour-py==0.3
celery==3.1.17
cssselect==0.9.1
decorator==3.4.0
Flask==0.10.1
Flask-Login==0.2.11
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.4
futures==2.2.0
httplib2==0.9
itsdangerous==0.24
Jinja2==2.7.3
kombu==3.0.24
livestreamer==1.7.3
lxml==3.4.0
macholib==1.5
MarkupSafe==0.23
matplotlib==1.1.1
modulegraph==0.10.1
numpy==1.6.2
pbr==0.10.7
py2app==0.7.1
pyobjc-core==2.3.2a0
pyobjc-framework-AddressBook==2.3.2a0
pyobjc-framework-AppleScriptKit==2.3.2a0
pyobjc-framework-AppleScriptObjC==2.3.2a0
pyobjc-framework-Automator==2.3.2a0
pyobjc-framework-CFNetwork==2.3.2a0
pyobjc-framework-Cocoa==2.3.2a0
pyobjc-framework-Collaboration==2.3.2a0
pyobjc-framework-CoreData==2.3.2a0
pyobjc-framework-CoreLocation==2.3.2a0
pyobjc-framework-CoreText==2.3.2a0
pyobjc-framework-DictionaryServices==2.3.2a0
pyobjc-framework-ExceptionHandling==2.3.2a0
pyobjc-framework-FSEvents==2.3.2a0
pyobjc-framework-InputMethodKit==2.3.2a0
pyobjc-framework-InstallerPlugins==2.3.2a0
pyobjc-framework-InstantMessage==2.3.2a0
pyobjc-framework-InterfaceBuilderKit==2.3.2a0
pyobjc-framework-LatentSemanticMapping==2.3.2a0
pyobjc-framework-LaunchServices==2.3.2a0
pyobjc-framework-Message==2.3.2a0
pyobjc-framework-OpenDirectory==2.3.2a0
pyobjc-framework-PreferencePanes==2.3.2a0
pyobjc-framework-PubSub==2.3.2a0
pyobjc-framework-QTKit==2.3.2a0
pyobjc-framework-Quartz==2.3.2a0
pyobjc-framework-ScreenSaver==2.3.2a0
pyobjc-framework-ScriptingBridge==2.3.2a0
pyobjc-framework-SearchKit==2.3.2a0
pyobjc-framework-ServiceManagement==2.3.2a0
pyobjc-framework-SyncServices==2.3.2a0
pyobjc-framework-SystemConfiguration==2.3.2a0
pyobjc-framework-WebKit==2.3.2a0
pyobjc-framework-XgridFoundation==2.3.2a0
pyOpenSSL==0.13
PyRSS2Gen==1.0.0
python-dateutil==1.5
pytz===2012d
queuelib==1.2.2
requests==2.4.3
scipy==0.11.0
Scrapy==0.24.4
six==1.9.0
socketIO-client==0.5.3
SQLAlchemy==0.9.4
sqlalchemy-migrate==0.9.4
sqlparse==0.1.14
Tempita==0.5.2
Twisted==12.2.0
tzlocal==1.1.2
virtualenv==12.0.6
w3lib==1.10.0
websocket-client==0.21.0
Werkzeug==0.9.4
WTForms==1.0.5
xattr==0.6.4
zope.interface==3.8.0
