.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.search{
    margin-top: 50px;
  }
   h2{
      text-align: center;
    }
    form.custom .custom.dropdown{
      height: 45px;
    }
    label{
      margin-bottom: 10px;
    }
    form.custom .custom.dropdown{
      padding-top: 5px;
    }
    form.custom .custom.dropdown .selector{
      top: 5px;
    }
    .button{
      height: 45px;
      margin-top:25px; 
    }

.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  margin-left: 25%;
}
.signup-panel .button {
  margin-left: 35%;
}

