<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.css') }}">

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8" />
	<title>Munchery</title>
</head>
<body>
<!-- 	<h1> derp </h1>
	<h2> herp </h2> -->
{% block content %} {% endblock %}
    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.accordion.js') }}"></script>
    <script>$(document).foundation();</script>
</body>
</html>

