  {% extends "base.html" %}
  {% block content %}
  <div class="row page_wrap">
    <!-- page wrap -->
    <div class="twelve columns">
      <!-- page wrap -->

      <div class="row">
        <div class="twelve columns">
         <div class="heading_dots"><h1 class="heading_supersize" style="margin-bottom:5px"><span class="heading_center_bg">munchery</span></h1></div>
       </div>
     </div>

     <div class="row" style="padding-top: 10px">

      <ul class="accordion" data-accordion>

        <li class="accordion-navigation">
          <a href="#panel2a">I want food! </a>
          <div id="panel2a" class="content">
            <form id="orderForm">
              <div class="row">
                <div class="9 columns">
                  <div class="row">
                    <div class="small-3 columns">
                      <label for="right-label" class="right inline">My Name:</label>
                    </div>
                    <div class="small-9 columns">
                      <input type="text" id="right-label" name="name" placeholder="John Doe" required >
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-3 columns">
                      <label for="right-label" class="right inline">I want:</label>
                    </div>
                    <div class="small-9 columns">
                      <input type="text" id="right-label" name="food" placeholder="A Hamburger" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-3 columns">
                      <label for="right-label" class="right inline">From:</label>
                    </div>
                    <div class="small-9 columns">
                      <input type="text" id="right-label" name="source" placeholder="In-n-Out">
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-3 columns">
                      <label for="right-label" class="right inline">Deliver it to:</label>
                    </div>
                    <div class="small-9 columns">
                      <input type="text" id="right-label" name="destination" placeholder="12 Milk Street" required>
                    </div>
                  </div>
                 <div class="row">
                  <div class="small-3 columns">
                    <label for="right-label" class="right inline">I'll pay:</label>
                  </div>
                  <div class="small-9 columns">
                   <input type="text" name="payment" placeholder="50" required />
                 </div>
               </div>

               <div class="row">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline">Means of contact</label>
                </div>
                <div class="small-9 columns">
                 <input type="text" name="contact" placeholder="meme@gmail.com or 123-456-7890" required/>
               </div>
             </div>
             <div class="row">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline">Any additional info:</label>
                </div>
                <div class="small-9 columns">
                 <input type="text" name="info"/>
               </div>
             <div id="orderError">
             </div>
             <div class="row">
            <input style="margin-left: 163px;" class="button round" type="submit" id="submit">
            </div>
          </div>

        </div>
      </form>
      <div id="orderError">
      </div>
    </div>
  </li>

  <li class="accordion-navigation">
    <a href="#panel3a" id="ordersRequest">I want to deliver!</a>
    <script id="ordersTemplate" type="x-tmpl-mustache">
      {% raw %}
        {{#items}}
      <a class="list-group-item order" id="{{ href }}" href="#" >
        <strong>
          {{ topic }} 
        </strong>
        <br>
        <small>
          {{ dateTime }}
        </small>
      </a>
      {{/items}}
      {{^items}}
      <a class="list-group-item" href="#"> 
        <strong>
          Nothing here yet.
        </strong>
      </a>
        {{/items}}
      {% endraw %}
    </script>
    <div id="panel3a" class="nav">
    </div>
  </li>
</ul>

</div>

<div class="row">
  <div class="twelve columns">
    <ul id="menu3" class="footer_menu horizontal">
      <li class=""><a href="index.html">Home</a></li>
    </ul>
  </div>
</div>
</div>

</div><!-- end page wrap) -->
{% endblock %}